.container {
    width: 1024px;
  }
  
  .auth {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: lightblue;
    flex-direction: column;
  }
  
  h1 {
    font-size: 25px;
    color: teal;
    margin-bottom: 20px;
  }
  
  .register{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: white;
    width: 250px;
  }
  
  .inp1 {
    padding: 10px;
    border: none;
    border-bottom: 1px solid gray;
    margin-bottom: 20px;
  }
  
  .login {
    padding: 10px;
    border: none;
    background-color: teal;
    color: white;
  }
  
  .plogin {
    color: red;
  }